.analyse {
    background-image: 
        linear-gradient(90deg,white, rgba(0, 255, 255, 0.094) );
}

.company {
    background-image: 
        linear-gradient(90deg,rgba(123, 204, 204, 0.53),rgba(0, 255, 255, 0.094), rgb(154, 224, 229) );
}

.marketing {
    background-image: url(/images/home/Blur\ Gradient.png);
}